.SearchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.SearchBar input {
  flex: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.SearchBar button {
  padding: 0.5rem 1rem;
}
